img:hover{
  cursor:pointer;
}

img{
  margin-right: 10px;
}

.labelUpload{
  text-decoration: underline;
  cursor: pointer;
  color:blue;
}
.form-select{
  border-radius: 5px;
  border-width: 2px;
  border-color: #0171BB;
}