<div class="modal-content">
  <div class="modal-header border-bottom-0 pb-0">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="systemCategoriesModel">
        <ng-container *ngIf="systemCategoriesModel.id">{{ 'ACTION.EDIT' | translate }} {{ 'CATEGORY.SYSTEM_CATEGORY.TITLE' | translate }}</ng-container>
        <ng-container *ngIf="!systemCategoriesModel.id">{{ 'ACTION.ADD' | translate }} {{ 'CATEGORY.SYSTEM_CATEGORY.TITLE' | translate }}</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success" style="z-index: 1"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="systemCategoriesModel">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label" for="systemCategoryCode">{{ 'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_CODE' | translate }}<span style="color: red;">*</span></label>
            <input
                type="text"
                class="form-control"
                name="systemCategoryCode"
                id="systemCategoryCode"
                [placeholder]="'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_CODE' | translate"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('systemCategoryCode')"
                [class.is-valid]="isControlValid('systemCategoryCode')"
                formControlName="systemCategoryCode"
                [(ngModel)]="systemCategoriesModel.code"
            />
            <div class="invalid-feedback"
                 *ngIf="controlHasError('required', 'systemCategoryCode')"
            >
              {{ 'VALIDATION.REQUIRED' | translate: { name: 'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_CODE' | translate } }}
            </div>
            <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxlength', 'systemCategoryCode')"
            >
              {{ 'VALIDATION.MAX_LENGTH' | translate: { name: 'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_CODE' | translate, max: 50} }}
            </div>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="systemCategoryName">{{ 'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_NAME' | translate }}<span style="color: red;">*</span></label>
            <input
                type="text"
                class="form-control"
                name="systemCategoryName"
                id="systemCategoryName"
                [placeholder]="'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_NAME' | translate"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('systemCategoryName')"
                [class.is-valid]="isControlValid('systemCategoryName')"
                formControlName="systemCategoryName"
                [(ngModel)]="systemCategoriesModel.name"
            />
            <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'systemCategoryName')"
            >
              {{ 'VALIDATION.REQUIRED' | translate: { name: 'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_NAME' | translate } }}
            </div>
            <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxlength', 'systemCategoryName')"
            >
              {{ 'VALIDATION.MAX_LENGTH' | translate: { name: 'CATEGORY.SYSTEM_CATEGORY.TABLE_TITLE.SYSTEM_CATEGORY_NAME' | translate, max: 100} }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <!-- <div class="col-lg-6">
            <label>{{ 'COMMON.STATUS.TITLE' | translate }}</label>
            <span class="switch switch-icon">
            <label>
                <input
                    type="checkbox"
                    name="status"
                    (change)="changeStatus(systemCategoriesModel.status)"
                    [checked]="systemCategoriesModel.status == 'O'"
                />
              <span></span>
            </label>
            </span>
          </div> -->
          <div class="col-lg-6">
            <label class="form-label">{{ 'COMMON.STATUS.TITLE' | translate }}<span style="color: red;">*</span></label>
            <select class="form-control"
                    name="status"
                    id="status"
                    formControlName="status"
                    [(ngModel)]="systemCategoriesModel.status"
            >
              <option *ngFor="let status of listStatus"  [value]="status.CODE">{{ 'COMMON.STATUS.' + status.NAME | translate }}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label class="form-label">{{ 'COMMON.DESCRIPTION' | translate }}</label>
            <input
                type="text"
                class="form-control"
                name="description"
                [placeholder]="'COMMON.DESCRIPTION' | translate"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('description')"
                [class.is-valid]="isControlValid('description')"
                formControlName="description"
                [(ngModel)]="systemCategoriesModel.description"
            />
            <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxlength', 'description')"
            >
              {{ 'VALIDATION.MAX_LENGTH' | translate: { name: 'COMMON.DESCRIPTION' | translate, max: 200} }}
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer border-top-0 pt-0">
    <button
        type="button"
        class="btn btn-cancel btn-elevate mr-2 font-weight-bolder"
        (click)="eConfirmClose()"
    >
      {{ 'ACTION.CLOSE' | translate }}
    </button>
    <ng-container *ngIf="systemCategoriesModel">
      <button
          type="submit"
          class="btn btn-primary btn-elevate font-weight-bolder"
          (click)="save()"
          [disabled]="formGroup.invalid"
      >
        {{ 'ACTION.SAVE' | translate }}
      </button>
    </ng-container>
  </div>
</div>
