.inputDate{
  width: 220px;
  margin-left: 0px;
  border: 1px solid #D2D2D2;
  height: 35px;
  border-radius: 5px;
  position: relative;
}
::ng-deep.position-absolute{
  position: absolute;
  right: -85px;
  top: -2px;
  opacity: 0.6;
  z-index: 10;
  width: 20px !important;
  height: 20px !important;
}

