<div class="position-relative rounded">
  <div class="container">
    <h5 class="font-weight-boldest mb-5">{{ propAction == 'edit' ? ('cm.edit' | translate) : ('cm.add' | translate) }}</h5>
    <hr />
    <form action="#" class="form form-label-right" [formGroup]="addEditForm">
      <div class="row form-group gx-6 mb-0 justify-content-center">
        <label class="col-md-2 mb-12 form-label col-form-label" for="optionSetCode"
          >{{ 'cm.optionSetCode' | translate }}
          <span style="color: red">*</span>
        </label>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            id="optionSetCode"
            autocomplete="off"
            formControlName="optionSetCode"
            [class.is-invalid]="isControlInvalid('optionSetCode')"
            maxlength="101"
          />
          <div class="invalid-feedback" *ngIf="controlHasError('required', 'optionSetCode')">
            {{ 'VALIDATION.REQUIRED' | translate : { name: 'cm.optionSetCode' | translate } }}
          </div>
        </div>
        <label class="col-md-2 mb-12 form-label col-form-label" for="description"
          >{{ 'cm.description' | translate }}
          <span style="color: red">*</span>
        </label>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            id="description"
            autocomplete="off"
            formControlName="description"
            [class.is-invalid]="isControlInvalid('description')"
            maxlength="101"
          />
          <div class="invalid-feedback" *ngIf="controlHasError('required', 'description')">
            {{ 'VALIDATION.REQUIRED' | translate : { name: 'cm.description' | translate } }}
          </div>
        </div>
      </div>
      
      
    </form>

    <div class="d-flex justify-content-end mb-5">
      <button class="btn btn-outline-primary mx-3" style="width: 150px" (click)="eCloseWithoutEdit()">{{ 'cm.close' | translate }}</button>
      <button class="btn btn-primary mx-3" style="width: 150px" (click)="eSave()">{{ 'cm.save' | translate }}</button>
    </div>
  </div>
  <div class="pb-1"></div>
  <ngx-spinner bdColor="rgba(0,0,0,0.6)" size="default" color="#1dc5be" type="ball-clip-rotate" [fullScreen]="true"></ngx-spinner>
</div>
