
:host {
  min-width: unset !important;
  max-width: unset !important;
  padding: 0 !important;

  &:hover,
  &:focus {
    video {
      opacity: 0.7;
    }

    custom-dropzone-remove-badge {
      opacity: 1;
    }
  }

  custom-dropzone-remove-badge {
    opacity: 0;
  }

  video {
    max-height: 100%;
    border-radius: 5px;
  }

  ::ng-deep custom-dropzone-label {
    position: absolute;
    overflow-wrap: break-word;
  }
}
