img:hover {
  cursor: pointer;
}


tr.example-element-row:active {
  background: #292424;
}

.labelUpload {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.form-select {
  border-radius: 5px;
  border-width: 2px;
  border-color: #0171bb;
}

.form-input {
  border: none !important;
}

.icon-disable {
  color: #b8b8b8;
  cursor: unset !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 15px;
  font-weight: 600;
}

td {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

th.mat-header-cell:first-of-type {
  padding-left: 0px;
  font-weight: 600;
}
th.mat-header-cell:last-of-type {
  padding-right: 0px;
  font-weight: 600;
}

.mat-table {
  width: 100%;
}

th,
td {
  font-size: 15px !important;
}

.mat-cell {
  max-width: 150px;
  word-wrap: break-word;
}

.blue {
  background-color: #acd2eb;
  font-weight: bold;
}



::ng-deep .big-size-model-class .modal-dialog {
  max-width: 100%;
  width: 100%;
}

.clickable-label {
  cursor: pointer;
  text-decoration: underline;
  color: #0171bb;
}

.clickable-label:hover {
  color: #51b9ff;
}

.action-disabled {
  i {
    color: #acacac;
  }
}

.action-disabled:hover {
  i {
    color: #acacac;
  }
}

.action-enabled {
  i {
    color: red;
  }
}

.action-enabled:hover {
  i {
    color: rgb(255, 89, 89);
  }
}

::ng-deep .mat-form-field-flex {
  padding-top: 0px !important;
}

.icon-datePicker {
  position: absolute;
  top: -13px;
  right: -5px;
}


.mat-column-createdDatetimeStr {
  text-align: center !important;
}

.mat-column-constructionDateStr {
  text-align: center !important;
}
