<div class="pt-5 pl-5 pr-5">
    <div class="">
      <!-- begin: Filtration form -->
      <h5 style="font-weight: 700">
        {{
          isUpdate || isUpdateFile ? ('VILLAGE_MANAGEMENT.UPDATE_VILLAGE' | translate) : ('VILLAGE_MANAGEMENT.ADD_VILLAGE' | translate)
        }}
      </h5>
      <hr />
      <br />
      <!-- <div class="row form-group" *ngIf="!isUpdate && !isUpdateFile">
        <label class="col-md-2 form-label col-form-label" style="padding-left: 75px" for="tinhDi">{{
          'LABEL.METHOD' | translate
        }}</label>
        <div class="col-md-4 d-flex align-items-center">
          <mat-radio-group [(ngModel)]="addType" (change)="changeState()">
            <mat-radio-button *ngFor="let type of addTypeList" [value]="type.value" [checked]="type.checked">
              {{ type.name }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div> -->

      <div *ngIf="addType == 'single' && !isUpdateFile">
        <!-- add form -->
        <form action="#" class="form form-label-right" [formGroup]="addEditForm">
          <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="row">
                <label class="col-md-2 form-label col-form-label font-14" for="proId">{{
                  'COMMUNE_MANAGEMENT.PROVINCE_CODE' | translate
                }}</label>
                <div class="col-md-3">
                  <select
                    class="form-control font-14"
                    name="proId"
                    id="proId"
                    formControlName="proId"
                  >
                    <ng-container *ngFor="let item of communeManagementService.cbxProvices | async">
                      <option [ngValue]="item.proId">
                        <span>{{ item.proCode }}</span>
                      </option>
                    </ng-container>
                  </select>
                </div>
                <div class="col-md-2"></div>
                <label class="col-md-2 form-label col-form-label font-14" for="communeCode"
                >{{ 'COMMUNE_MANAGEMENT.COMMUNE_CODE' | translate }}<span style="color: red">*</span></label
              >
              <div class="col-md-3">
                  <select
                          class="form-control font-14"
                          name="distId"
                          id="distId"
                          formControlName="distId"
                  >
                      <ng-container *ngFor="let item of communeManagementService.cbxCommunes | async">
                          <option [ngValue]="item.distId">
                              <span>{{ item.districtName }}</span>
                          </option>
                      </ng-container>
                  </select>
                  <div
                          *ngIf="
                    addEditForm.get('distId').invalid &&
                    (addEditForm.get('distId').dirty || addEditForm.get('distId').touched)
                  "
                  >
                      <small class="form-text text-danger" *ngIf="addEditForm.get('distId').errors.required">
                          {{
                          'VALIDATION.REQUIRED'
                              | translate
                              : {
                                  name: 'COMMUNE_MANAGEMENT.COMMUNE_CODE' | translate
                              }
                          }}
                      </small>
                  </div>
              </div>

              </div>
                <div class="row mt-3"></div>
                <div class="row">
                    <label class="col-md-2 form-label col-form-label font-14" for="proId">{{
                        'VILLAGE_MANAGEMENT.VILLAGE_NAME' | translate
                        }}</label>
                    <div class="col-md-3">
                        <input
                                type="text"
                                name="communeName"
                                id="communeName"
                                class="form-control"
                                formControlName="communeCode"
                                maxlength="100"
                        />
                        <div
                                *ngIf="
                    addEditForm.get('communeCode').invalid &&
                    (addEditForm.get('communeCode').dirty || addEditForm.get('communeCode').touched)
                  "
                        >
                            <small class="form-text text-danger" *ngIf="addEditForm.get('communeCode').errors.required">
                                {{
                                'VALIDATION.REQUIRED'
                                    | translate
                                    : {
                                        name: 'VILLAGE_MANAGEMENT.VILLAGE_CODE' | translate
                                    }
                                }}
                            </small>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <label class="col-md-2 form-label col-form-label font-14" for="communeName"
                    >{{ 'VILLAGE_MANAGEMENT.VILLAGE_CODE' | translate }}<span style="color: red">*</span></label
                    >
                    <div class="col-md-3">
                        <input
                                type="text"
                                name="communeCode"
                                id="communeCode"
                                class="form-control"
                                formControlName="communeName"
                                maxlength="100"
                        />
                        <div
                                *ngIf="
                    addEditForm.get('communeName').invalid &&
                    (addEditForm.get('communeName').dirty || addEditForm.get('communeName').touched)
                  "
                        >
                            <small class="form-text text-danger" *ngIf="addEditForm.get('communeName').errors.required">
                                {{
                                'VALIDATION.REQUIRED'
                                    | translate
                                    : {
                                        name: 'VILLAGE_MANAGEMENT.VILLAGE_CODE' | translate
                                    }
                                }}
                            </small>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="d-flex justify-content-end my-5">
            <button
              type="button"
              class="font-weight-bolder btn btn-outline-primary mx-3"
              (click)="closeDialog()"
              style="padding: 8px 32px !important"
            >
              {{ 'BUTTON.CANCEL2' | translate }}
            </button>
            <button
              type="button"
              class="font-weight-bolder btn btn-outline-primary mx-3"
              [disabled]="addEditForm.invalid"
              (click)="save()"
              style="padding: 8px 32px !important"
            >
              {{ 'BUTTON.SAVE' | translate }}
            </button>
          </div>
        </form>


      </div>


      <!-- end: Filtration form -->
    </div>
  </div>
  